.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs_list *{
    display: block;
    text-decoration: none;
    color: black;
}

.dialogs_list__item{
    padding: 5px;
}

.active{
    color: gold;
    padding: 5px;
}

.messages__item{
    padding: 3px;
}